*{
    margin: 0;
    border: 0;
    padding: 0;
}
.slider ul{
    list-style-type: none;
    width: 400px;
    height: 200px;
}
.slider li{
    display: none;
}

.slider .visible{
    display: inline-block;
}